.auth {
  max-width: 400px;
  margin: 50px auto;
  text-align: center;
  .logo {
    width: 180px;
  }
  h2 {
    font-size: 40px;
    color: #052C65;
  }
  form {
    .input-group {
      .input-group-text {
        width: 38px;
        color: #6C757D;
      }
      .form-control::placeholder {
        color: #6C757D;
      }
    }
    .small-link{
      font-size: 12px;
      .forLogin {
        text-align: left;
      }
    }

  }
}


