.list-container {
  h2 {
    font-weight: bold;
    font-size: 40px;
    color: #052C65;
  }

  .card-items {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;

    .card-item {
      padding: 20px;
      width: 352px;
      height: 121px;

      .card-title {
        font-size: 28px;
        color: #290661;
        font-weight: bold;
      }

      .btn-edit {
        width: 134px;
      }

      .btn-delete {
        width: 88px;
      }
    }

    .card-add {
      display: flex;
      align-items: center;
      justify-content: center;
      color: #CED4DA;
      font-weight: bold;
      font-size: 28px;
      cursor: pointer;
      text-decoration: none;

      &:hover {
        background-color: #f1f1f1;
      }
    }
  }
}

.popUp {
  position: fixed;
  background: rgb(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  margin: 0;
  z-index: 9999;
  display: none;
  //display: flex;
  .popUp-msg {
    position: relative;
    top: calc(50% - 100px);
    margin: 0 auto;
    width: 530px;
    height: 184px;
    padding: 40px;
    background: #fff;

    p {
      font-size: 20px;
      color: #290661;
    }
  }
}

.edit-container {
  h2 {
    color: #052C65;
    font-weight: bold;
    font-size: 40px;
  }

  form {
    input, select, textarea {
      width: 397px;
    }

    span {
      margin: 0 0 10px 0;
    }

    .btn-success {
      width: 103px;
    }

    .btn-danger {
      width: 83px;
    }
  }
}

.income-expenses-container {
  .filter {
    .btn {
      width: 100px;
    }
    .btn-filter.active {
      background-color: #6c757d;
      color: white;
    }
    input {
      border: none;
      border-bottom: 1px solid black;
      outline: none;
      background-color: transparent;
      color: inherit;
    }
  }

  table {
    th {
      color: #052C65;
      font-size: 16px;
    }

    .icon {
      text-align: right;
    }

    a {
      color: #000;
    }
  }
}







