@use 'auth';
@use 'main';
@use 'categories';

body {
  padding: 60px;
  i {
    cursor: pointer;
  }
}


.error {
  width: 600px;
  margin: 0 auto;
  display: flex;
  gap: 20px;
  .headline {
    font-size: 52px;
  }
}

.layout {
  .sidebar {
    p{
      margin: 0;
    }
    a {
      text-decoration: none;
    }
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 250px;
    border-right: 1px solid #D9D9D9;
    color: #052C65;
    padding-bottom: 40px;
      .main-logo {
        padding-bottom: 50px;
        border-bottom: 1px solid #D9D9D9;
        width: 100%;
        .logo {
          width: 98px;
          height: 40px;
          margin: 40px 81px 20px 71px;
          box-sizing: border-box;
        }
      }
    .nav{
      margin-top: 60px;
      padding-left: 20px;
      padding-right: 20px;
      box-sizing: border-box;
      .nav-item {
        width: 200px;
        height: 40px;
        a, button {
          color: #052C65;
          &:hover {
            background: #0D6EFD;
            border-radius: 5px;
            color: white;
          }
        }
        .btn {
          display: flex;
          flex-direction: row;
          gap: 70px;
          align-items: center;
          height: 40px;
        }
        .dropdown{
          .show{
            width: 200px;
          }
          .dropdown-menu {
            padding: 0;
            border: 1px solid #0D6EFD;
            background: white;
            color: #0D6EFD;
            .dropdown-item{
              height: 40px;
              color: #0D6EFD;
              &:hover{
                background: #0D6EFD;
                color: white;
              }
            }
          }
          &:hover {
            border-bottom-left-radius: 50%;
            border-bottom-right-radius: 50%;
          }
        }
      }
    }
    .main-info{
      .balance-info {
        padding-left: 20px;
        padding-bottom: 20px;
        border-bottom: 1px solid #D9D9D9;
        font-weight: 600;
        .balance {
          color: #0D6EFD;
        }
      }
      .user-info {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 15px;
        padding-left: 20px;
        margin-top: 20px;
        i {
          color: #D9D9D9;
        }
        a{
          color: #052C65;
        }
        .dropdown {
          .show{
            width: 100%;
            text-align: center;
          }
          .btn {
            border: none;
            &:hover {
              color: rgb(186, 186, 186);
            }
          }
          .dropdown-menu {
            padding: 0;
            border: 1px solid rgb(186, 186, 186);
            background: white;
            color: rgb(186, 186, 186);
            .dropdown-item {
              padding: 0;
              color: rgb(186, 186, 186);
              &:hover {
                background: rgb(186, 186, 186);
                color: white;
              }
            }
          }
        }
      }

    }
  }
  .content {
    margin-left: 200px;
    padding: 60px;
  }
}

.active {
  background: #0D6EFD;
  p{
    color: white;
  }
  border-radius: 5px;
}
