<div class="layout">
    <div class="sidebar d-flex flex-column justify-content-between">
        <div>
            <a href="/" class="main-logo">
                <img src="/images/Logo.png" class="logo" alt="Logo">
            </a>
            <ul class="nav flex-column">
                <li class="nav-item mb-2 rounded-2">
                    <a href="/" class="nav-link">
                        <p><i class="nav-icon fa fa-house-chimney"></i> Главная</p>
                    </a>
                </li>
                <li class="nav-item mb-2 rounded-2">
                    <a href="/income&expenses" class="nav-link">
                        <p><i class="nav-icon fas fa-money-bill"></i> Доходы & Расходы</p>
                    </a>
                </li>

                <li class="nav-item mb-2 rounded-2">
                    <div class="dropdown">
                        <button class="btn w-100" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <p class="list">Категории</p>
                            <i class="right fas fa-chevron-right"></i>
                        </button>
                        <ul class="dropdown-menu w-100">
                            <li><a href="/income" class="nav-link dropdown-item rounded-top-2"><p>Доходы</p></a></li>
                            <li><a href="/expenses" class="nav-link dropdown-item rounded-bottom-2"><p>Расходы</p></a></li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
        <div class="main-info">
            <div class="balance-info">
                <p>Баланс: <a href="javascript:void(0)" id="balance">500$</a></p>
            </div>
            <div class="user-info">
                <div class="dropdown">
                    <button class="btn" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="fa-solid fa-2x fa-circle-user " id="user-icon"></i>
                    </button>
                    <ul class="dropdown-menu w-100">
                        <li><a href="/logout" class="dropdown-item rounded-top-2">Выход</a></li>
                    </ul>
                </div>
                <p id="user-name">Roman Chernov</p>
            </div>
        </div>
    </div>
    <div class="content" id="content-layout">

    </div>
</div>









