<div class="main">
    <h2 class="mb-5">Главная</h2>

    <div class="filter">
        <button type="button" class="btn btn-outline-secondary active me-3" data-period="today">Сегодня</button>
        <button type="button" class="btn btn-outline-secondary me-3" data-period="week">Неделя</button>
        <button type="button" class="btn btn-outline-secondary me-3" data-period="month">Месяц</button>
        <button type="button" class="btn btn-outline-secondary me-3" data-period="year">Год</button>
        <button type="button" class="btn btn-outline-secondary me-3" data-period="all">Все</button>
        <button type="button" class="btn btn-outline-secondary me-3" data-period="interval">Интервал</button>
        <span><b>с</b> <input type="date" class="text-body-secondary link-underline-secondary ms-3 me-3" id="dateFrom" placeholder="Дата"> <b>по</b> <input type="date" class="text-body-secondary link-underline-secondary ms-3 me-3" id="dateTo" placeholder="Дата"></span>
    </div>

    <div class="chart">
        <div class="">
            <div class="chart-box">
                <div class="chart-title mb-2">Доходы</div>
                <canvas id="incomeChart"></canvas>
            </div>
        </div>
        <div class="line ms-5 me-5"></div>
        <div class="">
            <div class="chart-box">
                <div class="chart-title mb-2">Расходы</div>
                <canvas id="expenseChart"></canvas>
            </div>
        </div>
    </div>
</div>