<div class="auth">
    <img src="images/Logo.png" class="mb-5" alt="Logo">
    <h2 class="fw-bold mb-3">Вход</h2>

    <form>
        <span id="common-error">Email или пароль введен не правильно</span>
        <div class="input-group mt-3 mb-3 text-start">
            <span class="input-group-text"><i class="fa-solid fa-envelope form-control-icon"></i></span>
            <input type="email" class="form-control" placeholder="Электронная почта" required id="email">
            <span id="email-error" class="invalid-feedback">Введите корректный email</span>
        </div>


        <div class="input-group mb-3 text-start">
            <span class="input-group-text"><i class="fa-solid fa-lock form-control-icon"></i></span>
            <input type="password" class="form-control" placeholder="Пароль" required id="password">
            <span id="password-error" class="invalid-feedback">Заполните пароль</span>
        </div>

        <div class="form-check mb-3 text-start">
            <input class="form-check-input" type="checkbox" id="rememberMe">
            <label class="form-check-label" for="rememberMe">
                Запомнить меня
            </label>
        </div>

        <div class="d-grid mb-3">
            <button type="button" class="btn btn-primary" id="login">Войти</button>
        </div>

        <p class="small-link forLogin">Ещё нет аккаунта? <a href="/sign-up">Пройдите регистрацию</a></p>
    </form>
</div>






