<div class="auth">
        <img src="images/Logo.png" class="mb-5" alt="Logo">

        <h2 class="fw-bold mb-3">Создайте аккаунт</h2>

        <form>
            <div class="input-group mb-3 text-start">
                <span class="input-group-text"><i class="fa-solid fa-user form-control-icon"></i></span>
                <input type="text" class="form-control" placeholder="Имя" required id="name">
            </div>

            <div class="input-group mb-3 text-start">
                <span class="input-group-text"><i class="fa-solid fa-user form-control-icon"></i></span>
                <input type="text" class="form-control" placeholder="Фамилия" required id="lastName">
            </div>

            <div class="input-group mb-3 text-start">
                <span class="input-group-text"><i class="fa-solid fa-envelope form-control-icon"></i></span>
                <input type="email" class="form-control" placeholder="Электронная почта" required id="email">
            </div>

            <div class="input-group mb-3 text-start">
                <span class="input-group-text"><i class="fa-solid fa-lock form-control-icon"></i></span>
                <input type="password" class="form-control" placeholder="Пароль" required id="password">
            </div>

            <div class="input-group mb-4 text-start">
                <span class="input-group-text"><i class="fa-solid fa-lock form-control-icon"></i></span>
                <input type="password" class="form-control" placeholder="Подтверждение пароля" required id="passwordRepeat">
            </div>

            <div class="d-grid mb-3">
                <button type="button" class="btn btn-primary" id="singUp">Войти</button>
            </div>

            <p class="small-link">Уже есть аккаунт? <a href="/login">Войдите в систему</a></p>
        </form>
</div>

