<div class="auth">
        <img src="images/Logo.png" class="mb-5" alt="Logo">

        <h2 class="fw-bold mb-3">Создайте аккаунт</h2>

        <form>
            <div class="input-group mb-3 text-start">
                <span class="input-group-text"><i class="fa-solid fa-user form-control-icon"></i></span>
                <input type="text" class="form-control" placeholder="Имя" required id="name">
                <span id="name-error" class="invalid-feedback">Заполните поле</span>
            </div>

            <div class="input-group mb-3 text-start">
                <span class="input-group-text"><i class="fa-solid fa-user form-control-icon"></i></span>
                <input type="text" class="form-control" placeholder="Фамилия" required id="lastName">
                <span id="lastName-error" class="invalid-feedback">Заполните поле</span>
            </div>

            <div class="input-group mb-3 text-start">
                <span class="input-group-text"><i class="fa-solid fa-envelope form-control-icon"></i></span>
                <input type="email" class="form-control" placeholder="Электронная почта" required id="email">
                <span id="email-error" class="invalid-feedback">Введите корректный email</span>
            </div>

            <div class="input-group mb-3 text-start">
                <span class="input-group-text"><i class="fa-solid fa-lock form-control-icon"></i></span>
                <input type="password" class="form-control" placeholder="Пароль" required id="password">
                <span id="password-error" class="invalid-feedback">Пароль должен содержать хотя бы одну букву, один символ и одну цифру и иметь длину в 8 символов</span>
            </div>

            <div class="input-group mb-4 text-start">
                <span class="input-group-text"><i class="fa-solid fa-lock form-control-icon"></i></span>
                <input type="password" class="form-control" placeholder="Подтверждение пароля" required id="passwordRepeat">
                <span id="passwordRepeat-error" class="invalid-feedback">Повторите пароль</span>
            </div>

            <div class="d-grid mb-3">
                <button type="button" class="btn btn-primary" id="signUp">Войти</button>
            </div>

            <p class="small-link">Уже есть аккаунт? <a href="/login">Войдите в систему</a></p>
        </form>
</div>

